<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast></p-toast>

<div class="grid mt-2">

    <div class="col-12">
        <div class="card">
            <h5>S.O Pending Delivery Requests</h5>
            <p-table #dt1 [value]="salesOrders" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">

                <!-- Search -->
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                        </span>
                    </div>
                </ng-template>
                <!-- Search -->

                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="RequiestDate" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Request Date
                                <p-sortIcon field="RequiestDate"></p-sortIcon>
                                <p-columnFilter type="date" field="RequiestDate" display="menu" placeholder="dd/mm/yyyy"></p-columnFilter>
                                <!-- <p-columnFilter type="text" field="RequiestDate" display="menu" placeholder="Search by name"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div pSortableColumn="SO_No" class="flex justify-content-between align-items-center">
                                SO NO.
                                <p-sortIcon field="SO_No"></p-sortIcon>
                                <p-columnFilter type="text" field="SO_No" display="menu" placeholder="Search by SO NO."></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div pSortableColumn="CustomerName" class="flex justify-content-between align-items-center">
                                Customer Name
                                <p-sortIcon field="CustomerName"></p-sortIcon>
                                <p-columnFilter type="text" field="CustomerName" display="menu" placeholder="Search by CustomerName"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div pSortableColumn="CrName" class="flex justify-content-between align-items-center">
                                Requested By
                                <p-sortIcon field="CrName"></p-sortIcon>
                                <p-columnFilter type="text" field="CrName" display="menu" placeholder="Search by Requested By"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div pSortableColumn="RequiestChanale" class="flex justify-content-between align-items-center">
                                Requested Channel
                                <p-sortIcon field="RequiestChanale"></p-sortIcon>
                                <p-columnFilter field="RequiestChanale" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Requested Channel Picker</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="requestChannels" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                            <ng-template let-requestChannel pTemplate="item">
                                                <div class="p-multiselect-representative-requestChannel">
                                                    <span class="ml-2">{{requestChannel.name}}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                                <!-- <p-columnFilter type="text" field="RequiestChanale" display="menu" placeholder="Search by Requested By"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div pSortableColumn="CityName" class="flex justify-content-between align-items-center">
                                City
                                <p-sortIcon field="CityName"></p-sortIcon>
                                <p-columnFilter field="CityName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">City Picker</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="cities" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                            <ng-template let-city pTemplate="item">
                                                <div class="p-multiselect-representative-option">
                                                    <span class="ml-2">{{city.name}}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                                <!-- <p-columnFilter type="text" field="CityName" display="menu" placeholder="Search by Requested By"></p-columnFilter> -->
                            </div>
                        </th>
                        <th style="min-width: 5rem">
                            <div pSortableColumn="Status" class="flex justify-content-between align-items-center">
                                Status
                                <p-sortIcon field="Status"></p-sortIcon>
                                <p-columnFilter field="Status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses" optionLabel="name" optionValue="value"
                                            (onChange)="filter($event.value)" placeholder="Select a Status" [showClear]="true">
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <!--  -->
                        <!-- <th style="min-width: 14rem">
                            <div pSortableColumn="representative" class="flex justify-content-between align-items-center">
                                Agent
                                <p-sortIcon field="representative"></p-sortIcon>
                                <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Agent Picker</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                            <ng-template let-option pTemplate="item">
                                                <div class="p-multiselect-representative-option">
                                                    <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                                    <span class="ml-2">{{option.name}}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th> -->
                        <!-- <th pSortableColumn="date" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Date
                                <p-sortIcon field="representative"></p-sortIcon>
                                <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                            </div>
                        </th> -->
                        <!-- <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Balance
                                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                            </div>
                        </th> -->
                        <!-- <th pSortableColumn="date" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Status
                                <p-sortIcon field="status"></p-sortIcon>
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th> -->
                        <!-- <th pSortableColumn="activity" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Activity
                                <p-sortIcon field="activity"></p-sortIcon>
                                <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                        <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3" [style]="{'min-width': '12rem'}" ></p-slider>
                                        <div class="flex align-items-center justify-content-between px-2">
                                            <span>{{activityValues[0]}}</span>
                                            <span>{{activityValues[1]}}</span>
                                        </div>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th> -->
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Show
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <!-- Header -->

                <!-- Body -->
                <ng-template pTemplate="body" let-salesOrder>
                    <tr>
                        <td>
                            {{salesOrder.RequiestDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{salesOrder.SO_No}}
                        </td>
                        <td>
                            {{salesOrder.CustomerName}}
                            <!-- <img [alt]="customer.representative.name" src="assets/demo/images/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle"/>
                            <span class="image-text ml-2">{{customer.representative.name}}</span> -->
                        </td>
                        <td>
                            {{salesOrder.CrName}}
                        </td>
                        <td>
                            {{salesOrder.RequiestChanale}}
                            <!-- {{salesOrder.RequiestChanale | currency:'USD':'symbol'}} -->
                        </td>
                        <td>
                            {{salesOrder.CityName}}
                            <!-- <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span> -->
                        </td>
                        <td>
                            <p-tag *ngIf="salesOrder.Status == 'N'"  [rounded]="true" severity="warning" value="Requested"></p-tag>
                            <p-tag *ngIf="salesOrder.Status == 'Y'" [rounded]="true" severity="success" value="Dispatched"></p-tag>
                            <!-- <p-progressBar [value]="customer.activity" [showValue]="false" [style]="{'height': '0.5rem'}"></p-progressBar> -->
                        </td>
                        <td class="text-center">
                            <button pButton pRipple (click)="openShowPendingDeliveryOrderModal(salesOrder)" icon="pi pi-eye" class="p-button-rounded p-button-secondary"></button>
                            <!-- <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': customer.verified, 'false-icon pi-times-circle text-pink-500': !customer.verified}"></i> -->
                        </td>
                    </tr>
                </ng-template>
                <!-- Body -->

                <!-- Empty Message -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No S.O Pending Delivery Requests found.</td>
                    </tr>
                </ng-template>
                <!-- Empty Message -->

                <!-- Loading -->
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading S.O Pending Delivery Requests data. Please wait.</td>
                    </tr>
                </ng-template>
                <!-- Loading -->

            </p-table>
        </div>

    </div>

</div>
